{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- mid block -->
<div id="mid-block" class="s">
    <div class="mid-gradient">

        <!-- breadcrumbs -->
        <section id="breadcrumbs">
                <div class="wrapper grid-block">
                <a href="http://stonecreekvillagedentistry.com" class="home"></a>
                <div class="breadcrumbs"><a href="/">Home</a><i class="uk-icon-chevron-right"></i><span>Our Practice</span><i class="uk-icon-chevron-right"></i><strong>Patient Testimonials</strong></div>						</div>
            </section>

    </div>
</div>
<div class="mid-divide"></div>
<div class="wrapper grid-block content-texture ">
    <div id="main" class="grid-block">
        <div id="maininner" class="grid-box">

            <section id="content" class="grid-block">
                <div id="system">

                    <article class="item">
                        <header>

                            <h1 class="title">Invisalign</h1>
                        
                        </header>
                        
                        <div class="content clearfix">
                        
                            <p>Have you always wanted a great smile without the metal look? Well, thanks to Invisalign, now you can have that smile! Invisalign treatment offers patients an alternative to conventional metal braces. Clear, custom fitted removable aligners are worn and every four to six weeks you will be re-examined to evaluate your progress. On average the total treatment time is approximately one year. Your new smile is just a phone call away!</p>
                            
                    </article>

                </div>
            </section>
        </div>
    </div>
</div>
<!-- main end -->
{% endblock %}
