{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- mid block -->

<div class="mid-divide"></div>
<div class="wrapper grid-block content-texture ">
    <div id="main" class="grid-block">
        <div id="maininner" class="grid-box">

            <section id="content" class="grid-block">
                <div id="system">

                    <article class="item">
                            <header>

                                    <h1 class="title">Patient Education</h1>
                                
                                </header>
                                
                                <div class="content clearfix">
                                
                                    <ul class="blank">
                                
                                        <li>
                                            <a href="http://stonecreekfamilydentistry.info/patient_education" target="_blank" rel="nofollow">http://stonecreekfamilydentistry.info/patient_education</a> 
                                        </li>
                                
                                    </ul>
                                </div>
                    </article>

                </div>
            </section>
        </div>
    </div>
</div>
<!-- main end -->
{% endblock %}
  