{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- header block -->

<!-- mid block -->
<div id="mid-block" class="s">
  <div class="mid-gradient">
    <!-- breadcrumbs -->
      <section id="breadcrumbs">
        <div class="wrapper grid-block">
        <a href="/" class="home"></a>
        <div class="breadcrumbs"><a href="/">Home</a><i class="uk-icon-chevron-right"></i><span>Our Practice</span><i class="uk-icon-chevron-right"></i><strong>About Us</strong></div>						</div>
      </section>
  </div>
</div>


<div class="mid-divide"></div>




<div class="wrapper grid-block content-texture ">
        <div id="main" class="grid-block">

    <div id="maininner" class="grid-box">



        <section id="content" class="grid-block">

<div id="system">


<article class="item">




<div class="content clearfix">


<h2>A Beautiful Practice For All Your Dental Needs</h2>
<h3>Facility</h3>
<p><img src="{% static 'images/stonecreekoffice.jpg' %}" alt="" /></p>
<p>We are proud to provide a very comfortable facility for the highest quality dental care available. It is one of our top priorities to protect the well-being of our valued patients. For this reason, our office meets and surpasses all OSHA (Occupational Safety and Health Administration) and CDC (Center for Disease Control) standards. We are confident that you will feel right at home in our office as we welcome all patients as if they were family.</p>
<h3>Appointments</h3>
<p>If you would like to make an appointment, please contact our office by phone or email.. Our office facilitates communications and emergency calls and appointments are available and welcome, especially for new patients seeking help.</p>
<h3>Financial</h3>
<p>We will be more than happy to submit all insurance forms for you and help you recover the most from your benefits. We will do everything we can to help you afford the treatment you need and want. For patients who require major work, a complete payment plan is designed with an appropriate payment schedule. Forms of payment accepted by the office are check, cash, or any major credit card.</p>
<h3>Cancellation</h3>
<p>If you are unable to keep an appointment, we ask that you kindly provide us with at least 24 hours notice. We ask for this advance notice so that we can offer this appointment to another patient. A fee may be charged if a patient does not show up for an appointment without sufficient notice.</p> <!--58dba6e78a7c81490790119--><a style="display:none;" href="http://fbconsult.ru/crm-napereves">внедрение crm</a><!--/58dba6e78a7c81490790119--><!--58dba604acb641490789892--><a style="display:none;" href="http://yeella.com/seo/post/tehnologii-prodvizheniya-brenda-odezhdy-v-internete">facebook раскрутка страницы</a><!--/58dba604acb641490789892--><!--5960e872849df1499523186--><a style="display:none;" href="https://luxurytiaras.com/">jewellery for</a><!--/5960e872849df1499523186-->		</div>






</article>

</div>
</section>
</div>
    <!-- maininner end -->




  </div>
        </div>
{% endblock %}
