{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- mid block -->
<div id="mid-block" class="s">
    <div class="mid-gradient">

        <!-- breadcrumbs -->
        <section id="breadcrumbs">
            <div class="wrapper grid-block">
                <a href="http://stonecreekvillagedentistry.com" class="home"></a>
                <div class="breadcrumbs"><a href="/">Home</a><i class="uk-icon-chevron-right"></i><span>Our Practice</span><i class="uk-icon-chevron-right"></i><strong>Meet Our Doctors</strong></div>
            </div>
        </section>

    </div>
</div>
<div class="mid-divide"></div>
<div class="wrapper grid-block content-texture ">
    <div id="main" class="grid-block">
        <div id="maininner" class="grid-box">

            <section id="content" class="grid-block">
                <div id="system">

                    <article class="item">

                        <header>

                            <h1 class="title">Meet our Doctors</h1>

                        </header>

                        <div class="content clearfix">

                            <div class="category_desc">
                                <div class="item_img img-intro img-intro__left"> <img src="http://www.stonecreekvillagedentistry.com/images/drkim.jpg" style="float:left; padding-right: 20px; width: 200px;" alt="" /></div>
                                <h1>Dr. James Kim</h1>
                                <p>Hi, I am Dr. James Kim. I am originally from the Midwest, but am very excited to be back in the Salinas Valley area to be part of this wonderful community! I graduated from Loma Linda University in Southern California for my Doctorate degree in Dental Surgery (DDS) and am very proud to be an owner of this great dental office. Growing up I always knew that being a dentist was something that I always wanted. Both of my parents were a dental lab technician so I was surrounded by dentistry, and I was always good with my hands building things and playing musical instruments. Also with the passion I have for helping people, I knew that this profession was the perfect fit.</p>
                                <p>I consider myself very lucky because I really do love what I do. For me, dentistry is just not my occupation, but my passion and I am always educating myself with the best continuing education courses so that I can provide the best care for my patients. I personally try to treat every patient as if I was treating one of my family members, always giving them the best option and treating them with gentle care. Patients are always given our time and our attention at my office because I feel that they are the most important part of our office.</p>
                                <p>Beside helping people at my office, I enjoy spending time with my wife ,Cindy (who also is a dentist) and our dog Tobey. Some of my hobbies include guitar, basketball, and hiking around the beautiful places in the bay area. I am also very involved in doing dental mission work throughout different parts of the world. So far I have traveled to Mexico, China, Fiji, Kiribati Islands, and Cambodia providing free dental care to those who really need it.</p>
                            </div>
                        </div>

                    </article>

                </div>
            </section>

        </div>
    </div>
</div>
<!-- main end -->
{% endblock %}