{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

			<section >
							<img src="{% static 'images/monterey.jpg' %}" alt="" width="1280" height="459" />

			</section>


	<div class="wrapper">
	<div class="sheet">
	<div class="sheet-body">
	<div class="wrapper grid-block">
		<!-- header block -->

		<!-- mid block -->
		<div id="mid-block" class="s">
			<div class="mid-gradient">

				<!-- breadcrumbs -->


								<section id="top-a" class="grid-block">
						<div class="wrapper">
							<div class="grid-box width100 grid-h"><div class="module mod-box  deepest">


<div
	 >
	<p><div class="row"><div class="column one-half"></p>
<p style="text-align: center;"><strong><span style="font-size: 14pt;"> New Patients Welcome!</span></strong><strong>  </strong></p>
<p style="text-align: center;"> </p>
<p style="text-align: justify;"><span style="font-size: 14pt;">We are dedicated to providing patients of all ages with gentle, comprehensive dentistry in a comfortable and welcoming environment. Our team understands the importance of good communication and personalized care. So we always take the time to get to know our patients and develop long-lasting relationships based on trust and profession expertise. At Stone Creek Village Dentistry, you'll never be treated like "just another patient', you are a valued member of our practice family!</span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-size: 14pt;">We have equipped our beautiful office with the latest technology. Whether you're visiting us for a routine cleaning or a complete smile makeover, we promise to take great care of you.</span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-size: 14pt;">A healthy smile is important for a healthy body, and we want to help you enjoy yours for the rest of your life.</span></p>
<p style="text-align: center;"><strong><span style="font-size: 14pt;">Call (831) 920-6900  to book an appointment today!</span></strong></p>
<p></div></p>
<p><div class="column one-half"></p>
<p style="text-align: center;"><strong><span style="font-size: 14pt;">Here are what our patients say!</span></strong><strong>  </strong></p>
<div id="layer1" style="width: 100%; height: 500px; z-index: 1; overflow-x: hidden; overflow-y: scroll;">
<script>// <![CDATA[
yr_ff="Helvetica, Arial";  //Review panel font face
yr_fs="12px";              //Review panel font size
yr_w="100%";               //Review panel width e.g. "450px" or "100%"; l
yr_tb="white";             //Review panel background color e.g "yellow"; or "#F5DDC3";
yr_bc="#EEEEEE";             //Review panel border color e.g. "black"; or "#EEEEEE";
// ]]></script>
<script src="https://yapi.me/f/p/{0A32B36C-F735-4707-841C-D545631B67F5}/rscript.js">// <![CDATA[

// ]]></script>
</div>
<!-- REVIEW PANEL ENDS HERE -->
<p></div></div></p>
<hr />
<p><div class="row"><div class="column one-third"></p>
<h2 class="dotted"><strong>Office Address</strong></h2>
<div style="background: url('{% static 'images/mapsandhours.jpg' %}') no-repeat 0 0; height: 100px; border: #e3e3e3 1px solid; border-radius: 7px;"> </div>
</p>
<p><div class="column one-third"></p>
<h2 class="dotted"><strong>Meet the Team</strong></h2>
<div style="background: url('{% static 'images/team.jpg' %}') no-repeat -90px -90px; height: 100px; border: #e3e3e3 1px solid; border-radius: 7px;"> </div>
<div style="padding-top: 10px; text-align: center;"><a class="button-color small" href="our-practice/meet-our-doctors.html" rel="lightbox">Read More</a></div>
<p></div></p>
<p><div class="column one-third"></p>
<h2 class="dotted"><strong>Discover CEREC</strong></h2>
<div style="background: url('{% static 'images/CEREC_LOGO.jpg' %}') no-repeat 0 0; height: 100px; border: #e3e3e3 1px solid; border-radius: 7px;"> </div>
<div style="text-align: center; padding-top: 10px;"><a class="button-color small" href="one-day-crowns.html">One Day Crowns</a></div>
<p></div></div></p></div>
</div></div>						</div>
					</section>

			</div>
		</div>


		<div class="mid-divide"></div>




		<div class="wrapper grid-block content-texture ">
						</div>
			<!-- main end -->


		<!-- bottom block -->
					<div id="bottom-block">
				<div class="wrapper grid-block">
									<section id="bottom-a" class="grid-block">
						<div class="wrapper">
							<div class="grid-box width50 grid-h"><div class="module mod-box  deepest">


<div>
	<p><img style="padding-left: 10px;" src="{% static 'images/NewPatients.png' %}" alt="New Patients" width="200" height="129" align="right" /></p>
<h3><strong>New</strong> Patients</h3>
<p>Our Philosophy at Stone Creek Village Dentistry is to provide comprehensive dentistry with a focus on preventative care. We aim to diagnose problems early so we can utilize the most conservative treatment plan possible and lower the risk of those problems recurring. </p>
</div>
</div></div><div class="grid-box width50 grid-h"><div class="module mod-box  deepest">


<div>
	<p><img src="{% static 'images/invisalign_logo.png' %}" alt="" width="1264" height="317" /></p>
<p>Have you always wanted a <strong>great smile without the metal look?</strong> Well, thanks to Invisalign, now you can have that smile!</p>
<p><a class="button-color small" href="http://www.invisalign.com/how-invisalign-works/treatment-process">Learn More</a></p></div>
</div></div>						</div>
					</section>

								</div>
		</div>
{% endblock %}
